body {
  background: #ccc;
}

.jumbotron {
  text-align: center;
  background-image: linear-gradient(rgb(230, 187, 0), rgb(80, 72, 0));
}

.card-header {
  background: rgb(230, 168, 0);
  color: rgb(0, 0, 0);
  font-weight: bolder;
  font-size: 20px;
}
